/*csslint order-alphabetical: false*/

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #488ccd; 
  padding: 50px; 
}
  
h1 { 
    font-weight: 200;
    height: 30px; 
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #488ccd;
    color: white;
    width: 800px;
}

.menu {
    background-color: #284c80;   

    font-weight: 800; 
    width: 800px;
    
}

.menu-item { 
  
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(188, 248, 255);
    display: inline-block;
    font-weight: 800;
    
}

.menu-item:hover{
     cursor: pointer;
    color: white;
    text-decoration: underline;
    
    
}

h2 {
    height: 40px;
   color: rgb(237,245,255);
    margin-bottom: 1px;
    
}

p {
    height: 14px;
    margin-bottom: 40px;
    margin-left: 10px;
    color: #284c80;
    
}
 
.bevezeto { 

    font-weight: 800;   
     height: 20px;
    color: white;
    margin-bottom: 100px;
    width: 800px;
    
    
    
}

.tartalom {

    font-weight: 800;     
    color: white;
    width: 800px;
}
